<div class="ui center aligned padded grid container">
  <div class="pink row">
    <div class="center row">Merlin's Warehouse </div>
  </div>
  <div class="grey padded row">
    <button class="ui blue button" routerLink="/login" routerLinkActive="primary">Login</button>
    <button class="ui blue button" routerLink="/supply" routerLinkActive="primary">Supply</button>
    <button class="ui blue button" routerLink="/ramp" routerLinkActive="primary">Ramp</button>
    <button class="ui blue button" routerLink="/store" routerLinkActive="primary">Store</button>
    <button class="ui blue button" routerLink="/picklist" routerLinkActive="primary">Picklist</button>
    <button class="ui blue button" routerLink="/shippingCenter" routerLinkActive="primary">Shipping Center</button>
  </div>
</div>
<router-outlet></router-outlet>
