<div class="ui center aligned padded grid container">
  <div class="pink row">
    <div class="center row">Merlin's Shop </div>
  </div>
  <div class="grey padded row">
    <button class="ui blue button" routerLink="/login" routerLinkActive="primary">Login</button>
    <button class="ui blue button" routerLink="/shop" routerLinkActive="primary">Shop</button>
    <button class="ui blue button" routerLink="/order" routerLinkActive="primary">Order</button>
    <button class="ui blue button" routerLink="/delivery" routerLinkActive="primary">Delivery</button>
  </div>
</div>
<router-outlet></router-outlet>
